#cover_svg {
	fill: #62b08c;
	left: 0;
	position: fixed;
	top: 0;
	transform: translate(50px, 20px);
}

#title {
	z-index: 1000;
}

#R, #C {
		transition-delay: 0.2s;
		transition: 0.2s;
	}
	#A, #P, #Ii, #D, #T, #Y, #Iii {
		transition: 0.2s;
	}
	.shifted {
		#A, #P, #Ii, #D, #T, #Y, #Iii {
			visibility: hidden;
			opacity: 0;
		}
		#R {
			transform: translateX(347px);
		}
		#C {
			transform: translateX(165px);
		}
	}

@media screen and (min-width: 450px) {
	#cover_svg {
		transform: translate(40px, 10px);
	}
	.shifted {
		#R {
			transform: translateX(377px);
		}
		#C {
			transform: translateX(195px);
		}
	}
}

@media screen and (min-width: 550px) {
	#cover_svg {
		transform: translate(50px, 0px);
	}
	.shifted {
		#R {
			transform: translateX(387px);
		}
		#C {
			transform: translateX(205px);
		}
	}
}

@media screen and (min-width: 850px) {
	#cover_svg {
		transform: translate(90px, -20px);
	}
	.shifted {
		#R {
			transform: translateX(347px);
		}
		#C {
			transform: translateX(165px);
		}
	}
}

@media screen and (min-width: 1250px) {
	#cover_svg {
		transform: translate(90px, -30px);
	}
	.shifted {
		#R {
			transform: translateX(317px);
		}
		#C {
			transform: translateX(135px);
		}
	}
}


