
#cover_svg {
	fill: #62b08c;
	left: 0;
	position: fixed;
	top: 0;
	transform: translate(90px, -20px);
}

#title {
	z-index: 1000;
}

#A, #P, #Ii, #D, #T, #Y, #Iii, #R, #C {
	transition: visibility 1s;
}

.shifted #A {
	visibility: hidden;
}

.shifted #P {
	visibility: hidden;
}

.shifted #Ii {
	visibility: hidden;
}

.shifted #D {
	visibility: hidden;
}

.shifted #T {
	visibility: hidden;
}

.shifted #Y {
	visibility: hidden;
}

.shifted #Iii {
	visibility: hidden;
}

.shifted #R {
	transform: translateX(-85px);
}

.shifted #C {
	transform: translateX(-267px);
}