.bodyClass {
    transition: color 0.2s;
    overflow: hidden;
    padding-right: 20px;
    height: 100%;
    border-radius: 8px;
}

.bodyClass::-webkit-scrollbar { 
    width: 0 !important; 
    -ms-overflow-style: none;
}

.lyrics {
    overflow: auto;
}

.bodyClass:hover {
    color: rgba(255, 255, 255, 0.8) !important;
}

 .paperContainer {
 	height: 200px;
    width: 200px;
    margin: 40px;
 }

@media screen and (min-width: 450px) {
 .paperContainer {
 	height: 225px;
    width: 225px;
    margin: 40px;
 }
}

@media screen and (min-width: 550px) {
 .paperContainer {
 	height: 250px;
    width: 250px;
    margin: 40px;
 }
}

@media screen and (min-width: 650px) {
 .paperContainer {
 	height: 300px;
    width: 300px;
    margin: 40px;
 }
}

@media screen and (min-width: 850px) {
 .paperContainer {
 	height: 350px;
    width: 350px;
    margin: 40px;
 }
}

 .paperContainer:hover {
 	z-index: 100;
 }


