.bodyClass {
    transition: color 0.2s;
    overflow: hidden;
    padding-right: 20px;
    height: 100%;
    border-radius: 5px;
}

.bodyClass::-webkit-scrollbar { 
    width: 0 !important; 
    -ms-overflow-style: none;
}

.contentClass > div {
    border-radius: 5px !important;
}

.lyrics {
    overflow: auto;
}

.bodyClass:hover {
    color: rgba(255, 255, 255, 0.8) !important;
}

 .paperContainer {
 	height: 200px;
    width: 200px;
    margin: 40px;
 }

 .paperTitle {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40%;
    left: 0;
    right: 0;
    font-size: 36px;
    line-height: 1.5em;
    color: rgba(255, 255, 255, 0.8);
 }

.paperTitle + img {
    opacity: 0.8;
    transition: opacity 0.2s;
 }

.paperTitle .clickity {
    font-size: 0.4em;
    visibility: hidden;
    transition-delay: 0.1s;
 }

.paperTitle + img:hover {
    opacity: 0.2;
 }

.paperContainer:hover .paperTitle .clickity {
    visibility: visible !important;
 }


@media screen and (min-width: 450px) {
 .paperContainer {
 	height: 225px;
    width: 225px;
    margin: 40px;
 }
}

@media screen and (min-width: 550px) {
 .paperContainer {
 	height: 250px;
    width: 250px;
    margin: 40px;
 }
}

@media screen and (min-width: 650px) {
 .paperContainer {
 	height: 300px;
    width: 300px;
    margin: 40px;
 }
}

@media screen and (min-width: 850px) {
 .paperContainer {
 	height: 350px;
    width: 350px;
    margin: 40px;
 }
}


