#arrow_container {
	height: 200px;
    position: relative;
    width: 200px;
}

@keyframes bouncing {
	0% {top: 0px;}
    10% {top: -30px;}
    15% {top: 10px;}
    20% {top: -30px;}
    25% {top: 0px; opacity: 0.4}
    30% {opacity: 0;}
    95% {opacity: 0;}
    100% {top: 0px; opacity: 0.4}
}

#scroll_arrow {
	animation: bouncing 6s infinite ease-in-out;
	fill: #62b08c;
	right: 0;
	position: fixed;
	top: 0;
	// transform: translate(-350px, 320px);
	transition-delay: 0.2s;
	transition: 0.2s;
}

.arrow {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

.removed {
	visibility: hidden;
	opacity: 0;
}


@media screen and (min-width: 350px) {
    #scroll_arrow {
        transform: translate(-10px, 320px);
    }
}

@media screen and (min-width: 550px) {
    #scroll_arrow {
        transform: translate(-50px, 300px);
    }
}

@media screen and (min-width: 850px) {
    #scroll_arrow {
        transform: translate(-150px, 240px);
    }
}

@media screen and (min-width: 1250px) {
	#scroll_arrow {
        transform: translate(-320px, 300px);
    }
}


